<form action="/home/start_migration" method="post">
<div>
    <label for="textarea">Enter Sql database and mongo connection details:</label>
  <br>
    <textarea id="txtConnectionDetails" name="connection_details" rows="20" cols="50"></textarea>
</div>
<input type="submit" value="Start Migration"/>
</form>